.MainBtns {
  display: flex;
  justify-content: space-between;
  gap: 5%;
}

.MainBtn {
  text-align: center;
  width: 33.3%;
  border-color: transparent;
  background: var(--tg-theme-button-color);
  border-radius: 8px;
  font-size: 12px;
  line-height: 15px;
  color: var(--tg-theme-button-text-color);
  cursor: pointer;
  padding: 12px 0 8px;
  text-decoration: none;

  svg path {
    fill: var(--tg-theme-button-text-color);
  }
}
