.MainBtns {
  display: flex;
  justify-content: space-between;
  gap: 5%;
}

.MainBtn {
  text-align: center;
  width: 33.3%;
  border-color: transparent;
  background: #F2F5FC;
  border-radius: 8px;
  font-size: 12px;
  line-height: 15px;
  color: #037EE5;
  cursor: pointer;
  padding: 12px 0 8px;
  text-decoration: none;
}