.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 18px;
  background: #F2F5FC;
  border-radius: 8px;
  text-decoration: none;
}

.left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.title {
  font-size: 12px;
  color: var(--tg-theme-link-color);
}

.notification {
  position: relative;
  display: flex;
}
.new {
  position: absolute;
  top: 0;
  right: 0;
  background: #23CB8E;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}