.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list_actions {
  margin-top: 5px;
  margin-bottom: 24px;
}

.content {
  margin-left: -16px;
  margin-right: -16px;
}