.btn {
  display: flex;
  align-items: center;
  gap: 12px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: var(--tg-theme-text-color);

  svg path {
    stroke: var(--tg-theme-text-color);
  }
}

.btn.invers {
  color: var(--tg-theme-button-text-color);

  svg path{
    stroke: var(--tg-theme-button-text-color);
  }
}