.share-btn{
  /* Rectangle 30 */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 126px;
  height: 52px;
  left: 53px;
  top: 587px;

  background: #FFFFFF;
  border-radius: 10px;
}

.share-btn-text{
  /* Share */

  position: inherit;
  width: 33px;
  height: 15px;

  //font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  text-align: center;
  margin-left: 15px;
  color: #000000;
}

.socialSharePopupMoveIn{
	header{
		display: none !important;
		div{
			display: none !important;
		}
	}
}

.react-responsive-modal-modal{
	width: 100%;
	vertical-align: bottom !important;
	border-radius: 4px;
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0;
}

.social-buttons{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}